@model UserSide.Models.Team
@{
    ViewData["Title"] = "Competition Sign Up";
}

<title>@ViewData["Title"] - Competition Sign Up</title>

<br>
<div class="container">
    <div class="btn-group d-flex" role="group">
        <a asp-controller="Competitions" asp-action="Join" asp-route-id="@ViewData["CompetitionID"]" class="w-100"><input type="button" value="Join Group" class="btn btn btn-outline-primary w-100 active"></a>
        <a asp-controller="Competitions" asp-action="SignUp" asp-route-id="@ViewData["CompetitionID"]" class="w-100"><input type="button" value="Create Group" class="btn btn btn-outline-primary w-100"></a>
    </div>
    @if ((int)ViewData["Show"] == 1)
    {
        <br>
        <div class="alert alert-danger" role="alert">
            <p style="margin-bottom: 0;">Team limit reached. Please join another team or form your own team.</p>
        </div>
    }
    else if ((int)ViewData["Show"] == 2)
    {
        <br>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Invalid password</h4>
                <hr>
            <p style="margin-bottom: 0;">Invalid Password. Please try again.</p>
        </div>
    }
    else if ((int)ViewData["Show"] == 3)
    {
        <br>
        <div class="alert alert-danger" role="alert">
            <p style="margin-bottom: 0;">Please fill up all fields.</p>
        </div>
    }
    <div>
        <br>
        <section>
            <form method="post">
                <h2>Warning! Once you join a team you cannot change your team</h2>
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label"></label>
                    <select asp-for="TeamID" class="form-control" asp-items="ViewBag.SelectList"></select>
                    <span asp-validation-for="TeamID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CompetitionID" value="@ViewData["CompetitionID"]" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Join</button>
                </div>
            </form>
        </section>
    </div>
</div>