@{
    ViewData["Title"] = "About";
}

<div class="container">
    <br>
    <h2>Rules</h2>
    <h3>What is considered cheating?</h3>
    <p>
        Participants must abide by a few common sense rules that ensure the competition is fair.
        These rules are copied from picoCTF's FAQ:
        Attacking the scoring server, other teams, or machines not explicitly designated as targets is cheating.
        This includes both breaking into such machines and denying others access to them (for example, by altering a key or ping-flooding).
        Sharing keys or providing overly-revealing hints with other teams is cheating, as is being directly assisted by personnel outside the team (using tools from the internet is OK; asking people on the internet to help you solve the problem is not).
        We encourage you to solve problems in novel and creative ways using all available resources, but we do require that you solve them yourselves.
    </p>
</div>
